html{
  margin: 0px;
  padding: 0px;
  
}


.bg-myColor {
  background-image: linear-gradient(to right,#26da3b,#ecedeb )
  }


.create-by-playlist-wrapper{
  margin-left: 10px;
}
.create-by-playlist-wrapper h1 {
  margin-left: 20px;
}

.slider-wrapper{
  width: 600px;
  margin-left: 20px;
}

.single-playlist{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playlist-img{
  border-radius: 10px;
  width: 500px;
  height: 500px;
  object-fit: cover;
   
}
.playlist-img-wrap{
  position: relative;

}
.playlist-img:hover{
  opacity: 0.3;
  transition: 2s;
}
.playlist-img-wrap p{
  position: absolute;
  right: 17%;
  font-size: 40px;
  top: 180px;
  z-index: -1;
  color: rgb(0, 0, 0);
}
/* html body {
  background-color: black;
} */

/*  */
/*  */
/* for phones under */
@media screen and (max-width: 768px) {

  .create-by-playlist-wrapper{
    margin-left: 5px;
  }
  .create-by-playlist-wrapper h1 {
    font-size: 20px;
    text-align: center;
  }
  .slider-wrapper{
    width: 250px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
  }

  .slider-wrapper h2 {
    font-size: 15px;
  }


}